body  {
    margin: 0;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9956aeaf-2c66-41ac-85e8-1423f66ad703/d9xet34-e5e352ca-b909-4476-b611-22a4178dda11.jpg/v1/fill/w_1600,h_1000,q_75,strp/kobe_bryant_nba_wallpaper_4_0_by_skythlee_d9xet34-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAwMCIsInBhdGgiOiJcL2ZcLzk5NTZhZWFmLTJjNjYtNDFhYy04NWU4LTE0MjNmNjZhZDcwM1wvZDl4ZXQzNC1lNWUzNTJjYS1iOTA5LTQ0NzYtYjYxMS0yMmE0MTc4ZGRhMTEuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.T_nE3ffeC-ArQ1n69Hu8aAKeBSUs96XVIsZg6JD3WNg')

}

.displayAll button{
    border:None;
    outline: None;
    margin-left: 100px;
    width: 70px;
    height: 50px;
    border-radius: 5px;
    background: green;
    cursor: pointer;
}
.search-container {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.search-bar {
    background: #fff;
    border-radius: 50px;
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;
}

.search-bar input {
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 30px;
    flex: 1;
}

::placeholder {
    color: black;
}

.search-bar button {
    position: relative;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
    background: green;
    width: 100px;
    height: 100%;
}

.card-holders {
    display: flex;
    flex-wrap: wrap;
    margin: 10%;
}

#cards{
    background: #fff;
    margin: 20px 20px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

#cards p{
    display:flex;
    justify-content: center;
    padding: 0 15px;
}

#cards h1{
    display:flex;
    justify-content: center;
    padding: 0 15px;
    font-size: 1rem;
}

.heart{
    border: none;
    outline: none;
    background: transparent;
    margin-left: 10px;
    cursor: pointer;
}